<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="root"></div>
    <script>
      const flickrGallery = data => {
        window.localStorage.setItem("flickrGallery", JSON.stringify(data))
      }
    </script>
  </body>
</html>
